.text {
  font-size: 180px;
  line-height: 0.9;
  font-weight: 600;
  color: #0d0d0d;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: text-top;
}

.transparent-text {
  font-size: 180px;
  line-height: 0.9;
  font-weight: 600;
  color: #fff0;
  white-space: nowrap;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #0d0d0d;
}
